/********************************************//**
 *                  Nav Bar
 ***********************************************/
:root{
    --nav-height: 80px;
}

nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

    color: black;
    z-index: 2;
    backdrop-filter: blur(0px) brightness(100%);
    -webkit-backdrop-filter: blur(0px) brightness(100%);

    transition: all 0.25s;
    user-select: none;
}

.nav-scrollDown{
    background-color: rgba(255,255,255,0.5);
    border-bottom: rgba(150,150,150,0.2) 1px solid;
    backdrop-filter: blur(20px) brightness(100%) contrast(80%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
}

/********************************************//**
 *                Logo Panel
 ***********************************************/
.nav-logo-panel{
    width: 40px;
    height: 40px;
    margin: 15px;
    background-size: 100% 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
/********************************************//**
 *                Menu Panel
 ***********************************************/
.nav-menu-panel{
    transition: all 0.5s cubic-bezier(0.8,0,.2,1.0);
    z-index: 3;
}
/*Define the animation curve of links*/
nav .nav-menu-items{
    position: relative;
    transition: all 0.5s cubic-bezier(0.8,0,.2,1.0);

    user-select: none;
    pointer-events: all;
    cursor: default;
    z-index: 5;
}
/*The background of menu items*/
nav .nav-menu-items:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;

    background: black;

    z-index: -1;

    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.8,0,.2,1.0);
}
/*Hover behavior, font color to white*/
nav .nav-menu-items:hover{
    color: white;
}
/*Hover behavior, extend*/
nav .nav-menu-items:hover::after{
    width: 100%;
}

.nav-langSwitchBtn{
    z-index: 3;
    border-radius: 2px;
    padding: 3px 7px;

    font-size: 12px;

    color: white;
    background-color: var(--rm-blue);
    position: absolute;
    right: 10px;
    transition: all 0.5s cubic-bezier(0.8,0.0,0.2,1.0);
}

/*Layout for PC*/
@media screen and (min-width: 700px) {
    nav{
        height: var(--nav-height);
        align-items: center;
        display: flex;
    }

    .nav-menu-panel {
        position: absolute;
        right: 50px;
        width: auto;
        display: flex;
    }

    .nav-expand-btn{
        display: none;
    }

    nav .nav-menu-items{
        padding: 0 5px 0 5px;
        width: auto;
    }

    .nav-langSwitchBtn{
        top: 28px;
    }
}
/*Layout for mobile*/
@media screen and (max-width: 699px) {
    /********************************************//**
     *                  Nav Bar
     ***********************************************/
    nav{
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    /********************************************//**
     *             Panel Toggle Button
     ***********************************************/
    .nav-expand-btn{
        width: 40px;
        height: 40px;
        margin: 15px;
        left: 0;
        top: 0;
        position: absolute;
        border-width: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        cursor: pointer;
        transition: all 0.25s;
        pointer-events: all;
        z-index: 3;
    }
    .nav-expand-btn-bread{
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        -webkit-transition: transform 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
        transition:all 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
    }
    .nav-expand-btn-line{
        display: block;
        left: 5%;
        width: 90%;
        height: 2px;
        background: rgba(0,0,0,1.0);
        border-radius: 1px;
        position: absolute;

        -webkit-transition: transform 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
        transition:all 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
    }

    .nav-expand-btn-line-top{
        top: 8px;
    }
    .nav-expand-btn-line-bottom{
        bottom: 8px;
    }

    #nav-panel-status:checked ~ * .nav-expand-btn-bread-top{
        transform: rotateZ(45deg);
    }
    #nav-panel-status:checked ~ * .nav-expand-btn-bread-bottom{
        transform: rotateZ(-45deg);
    }
    #nav-panel-status:checked ~ * .nav-expand-btn-line-top{
        transform: translateY(5.5px);
    }
    #nav-panel-status:checked ~ * .nav-expand-btn-line-bottom{
        transform: translateY(-5.5px);
    }
    #nav-panel-status:checked ~ * .nav-expand-btn-line{
        -webkit-transition: transform 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
        transition:all 0.25s 0.0s cubic-bezier(0.8,0.0,0.8,0.5);
    }
    #nav-panel-status:checked ~ * .nav-expand-btn-bread{
        -webkit-transition: transform 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
        transition:all 0.4s 0.25s cubic-bezier(0.2,0.5,0.2,1.0);
    }

    /********************************************//**
     *                  Link Panel
     ***********************************************/
    .nav-menu-panel {
        position: initial;
        width: 100%;
        display: block;
    }
    /*In mobile layout, menu buttons are hidden when checkbox is uncheck*/
    nav .nav-menu-items{
        line-height: var(--nav-height);

        padding: 0 5% 0 5%;
        height: 0;
        width: 100%;

        opacity: 0;
        background-color: rgba(255,255,255,0.1);
        border-bottom: rgba(200,200,200,0.2) 0 solid;
    }
    /*Show menu buttons when checkbox is checked*/
    #nav-panel-status:checked ~ .nav-menu-panel div{
        height: var(--nav-height);
        opacity: 1;
        border-bottom: rgba(200,200,200,0.2) 1px solid;
    }
    .nav-langSwitchBtn{
        top: 23px;
    }
}