#article-browser-list-tag-container{
    position: sticky;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
    top: 0;
    display: block;
    flex-wrap: wrap;
    width: calc(100% - var(--grid-gutter));
    padding: calc(var(--nav-height)) calc(var(--grid-gutter) / 2) 20px;
    border-bottom: solid 1px var(--article-browser-border-color);
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin-bottom: -1px;
    z-index: 1;
}

#article-browser-load-article-status:checked ~ #article-browser-list-page > #article-browser-list-tag-container{
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(255,255,255,1.0);
}

#article-browser-list-grid-container{
    display: inline-grid;
    width: 100%;
    padding: 0;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
    grid-gap: 1px;
    background-color: var(--article-browser-border-color);
    overflow-x: visible;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.article-browser-list-quarter-tile {
    position: relative;
    padding: calc(var(--grid-gutter) / 2);
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
    background-color: white;
}

#article-browser-list-index {
    display: flex;
    height: 50px;
    overflow-x: hidden;
    width: 100%;
    justify-content: flex-end;
    border-bottom: solid 1px var(--article-browser-border-color);
    border-top: solid 1px var(--article-browser-border-color);
}

@media screen and (min-width: 1000px) {
    #article-browser-list-grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
    #article-browser-list-grid-container > .article-browser-list-quarter-tile:nth-child(4n+1):before {
        border-bottom: 1px solid var(--article-browser-border-color);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin-left: calc(-50vw);
        pointer-events: none;
    }
    #article-browser-list-grid-container > .article-browser-list-quarter-tile:nth-child(4n):before {
        border-bottom: 1px solid var(--article-browser-border-color);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin-right: calc(-50vw);
        pointer-events: none;
    }
}

@media screen and (max-width: 999px) and (min-width: 550px) {
    #article-browser-list-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 549px) {
    #article-browser-list-grid-container{
        grid-template-columns: 1fr;
    }
}