:root{
    --grid-gutter: 3rem;
}

.article-tag-container{
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
    padding-left: calc(var(--grid-gutter) / 2);
    padding-right: calc(var(--grid-gutter) / 2);
    display: block;
    flex-wrap: wrap;
    width: 100%;
    margin-top: var(--nav-height);
    border-bottom: solid 1px #555555;
}

.article-grid-container{
    display: grid;
    width: calc(100% + var(--grid-gutter));
    padding: 0;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
}

.article-quarter-tile {
    padding-left: calc(var(--grid-gutter) / 2);
    padding-right: calc(var(--grid-gutter) / 2);
    display: flex;
    flex-direction: column;
    min-width: 0;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
}

@media screen and (min-width: 1000px) {
    .article-grid-container{
        grid-template-columns: repeat(4, 1fr);
        margin-right: calc(var(--grid-gutter) / -2);
        margin-left: calc(var(--grid-gutter) / -2);
    }
}

@media screen and (max-width: 999px) and (min-width: 550px) {
    .article-grid-container{
        grid-template-columns: repeat(2, 1fr);
        margin-right: calc(var(--grid-gutter) / -2);
        margin-left: calc(var(--grid-gutter) / -2);
    }
}

@media screen and (max-width: 549px) {
    .article-grid-container{
        grid-template-columns: 1fr;
        margin-right: 0px;
        margin-left: 0px;
    }
}