.article-browser-list-card-img {
    width: 100%;
    height: 200px;
}

.article-browser-list-quarter-tile > h1 {
    font-weight: normal;
    cursor: pointer;
}

.article-browser-list-quarter-tile > h1:hover{
    text-decoration: underline;
    color: var(--accent-color);
}