#article-browser-article-article-banner{
    position: relative;
    width: 100%;
    height: 18rem;
    background-size: cover;
    background-position: center;
    border-bottom: solid 1px var(--article-browser-border-color);
}

#article-browser-article-md-container{
    position: relative;
    padding: 2rem calc(var(--grid-gutter) / 2) 2rem;
    background-color: white;
}

.article-browser-article-md-container-images{
    position: relative;
    display: flex;
    width: fit-content;
    margin-right: auto; margin-left: auto;
    max-width: 100%;
}

#article-browser-article-md-container:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all cubic-bezier(0.8,0,0.2,1) 0.25s;
    z-index: 2;
    pointer-events: none;
}

#article-browser-article-md-container img{
    max-width: 100%;
}