#article-browser-article-container {
    background-color: rebeccapurple;
    border: none;
}

#article-browser-article-side-container {
    border: none;
}

@media screen and (min-width: 1000px) {
    #article-browser-article-container{
        width: calc(75% - 1px);
    }
    #article-browser-article-side-container {
        width: calc(25% - 1px);
    }
}

@media screen and (max-width: 999px) {
    #article-browser-article-container{
        width: 100%;
    }
    #article-browser-article-side-container {
        width: 100%;
    }
}