#article-browser-article-side-container {
    padding: calc(var(--nav-height)) calc(var(--grid-gutter) / 2) 2rem;
}

#article-browser-article-side-container > h1{
    font-weight: normal;
    display: block;
    margin-bottom: 0;

}

#article-browser-article-side-container > img {
    width: 30px;
    margin-left: 0;
    transition: all cubic-bezier(0.8,0,0.2,1) 0.25s;
    align-content: center;
}

#article-browser-article-side-container:hover > img {
    margin-left: 10px;
}

#article-browser-article-side-container:hover > h1 {

}

.article-browser-article-recommendation-card > h1 {
    user-select: none;
    cursor: pointer;
}

.article-browser-article-recommendation-card > h1:hover{
    text-decoration: underline;
    color: var(--accent-color);
}