.home-banner-wrapper {
    height: 80%; width: 100%;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
    display: block;
    position: relative;
    flex-wrap: wrap;
    border-bottom: solid 1px rgb(225,225,225);
}

.home-banner-imgs {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position-x: center;
}

.home-banner-text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 30%;
    left: 5%;
    z-index: 2;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-banner-text hr {
    width: 100%;
    border: transparent;
    margin: 0;
}
.home-banner-text h2 {
    color: var(--accent-color);
    font-weight: normal;
    font-size: medium;
}
.home-banner-text h1,h2,p{
    position: relative;
    display:flex;
    flex-basis: 100%;
    margin: 5px 0 5px 0;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-banner-text h1{
    font-family: "IBM Plex Sans", serif;
    font-weight: normal;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-banner-button{
    display: block;
    text-align: center;
    padding: 10px 20px;
    border: black solid 2px;
    font-size: 15px;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 500;

    transition: all cubic-bezier(1.0, 0.0, 0.0, 1.0) 0.15s;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.home-banner-button:hover{
    padding: 8px 18px;
    border: black solid 4px;
}

.home-banner-button > img{
    transition: all cubic-bezier(1.0, 0.0, 0.0, 1.0) .75s;
    transform-origin: right;
    width: 0;
    margin-bottom: 2px;
    vertical-align: middle;
}

.home-banner-button:hover img{
    width: 18px;
}



@media screen and (min-width: 700px){

    .home-banner-text{
        position: absolute;
        left: 80px;
        top: 30%;
        font-size: 20px;
        width: 400px;
    }

    .home-banner-text > h1{
        font-size: 40px;
        font-weight: 400;
    }
}

@media screen and (max-width: 699px) {
    .home-banner-text{
        position: absolute;
        left: 40px;
        top: 150px;
        font-size: 15px;
        width: 200px;
    }

    .home-banner-text > h1{
        font-size: 20px;
        font-weight: 400;
    }
}
