#home-welcome{
    font-weight: 300;

    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-timeline-tile{
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0!important;

    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-timeline-tile tr,th{
    font-weight: 400;
    vertical-align: top;
    text-align: start;

    padding: 0;
    margin: 0;
    border: 0!important;

    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

.home-timeline-tile th{
    padding-right: 1em;
}

.home-timeline-tile span{
    color: var(--accent-color);
    word-break: keep-all;
    white-space: nowrap;
}

#home-about-biography{
    margin-bottom: 50px;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) .5s;
}

@media screen and (min-width: 1100px){
    #home-welcome{
        width: 700px;
        font-size: 40px;
    }

    #home-about-biography{
        font-size: 18px;
    }
}

@media screen and (max-width: 1099px) and (min-width: 900px){
    #home-welcome{
        width: 600px;
        font-size: 35px;
    }

    #home-about-biography{
        font-size: 15px;
    }
}

@media screen and (max-width: 899px) {
    #home-welcome{
        width: 450px;
        font-size: 30px;
    }

    #home-about-biography{
        font-size: 18px;
    }
}

.home-about-link-icons {

    height: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    border-left: #CCCCCC solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) 0.75s;
    background-size: contain;
    text-decoration: none;
    color: black;
}

.home-about-link-icons:first-child{
    height: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    border-left: none;
}

.home-about-link-icons:hover {
    background-color: #CCCCCC;
}

.home-about-link-icons > img {
    width: 20px;
    height: 20px;
}

.home-about-link-icons > div {
    width: 0px;
    overflow: hidden;
    text-decoration: none;
    transition: all cubic-bezier(.8, 0.0, 0.0, 1.0) 0.75s;
    text-align: center;
}

.home-about-link-icons:hover > div {
    margin-left: 10px;
    width: 66px;
    overflow: hidden;
}